<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SyntaxTerror | Your Place To Talk And Hang Out</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/calavera.jpg') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
</head>

<body>
    <script src="./js/main.js"></script>
    <!--hero section start-->
    <section class="hero">

        <header class="main-header container">
            <nav class="main-nav">

                <a href="#" class="logo">
                    <svg width="200" height="40" viewBox="0 0 200 24" class="logo-3oeRIY">
                        <g fill="currentColor">
                            <!-- Logotipo de calavera más pequeño -->
                            <path
                                d="M12.5 7C7.88 7 4 10.88 4 15.5S7.88 24 12.5 24 21 20.12 21 15.5 17.12 7 12.5 7zm0 13.5c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4zm0-6c-.828 0-1.5.672-1.5 1.5s.672 1.5 1.5 1.5 1.5-.672 1.5-1.5-.672-1.5-1.5-1.5zM8.75 18c-.368 0-.667.299-.667.667S8.382 19.333 8.75 19.333 9.417 19.034 9.417 18.667 9.118 18 8.75 18zm7.5 0c-.368 0-.667.299-.667.667s.299.666.667.666.667-.298.667-.666-.299-.667-.667-.667z"
                                transform="scale(1.2) translate(1, 1)"></path>
                            <text x="25" y="15" font-family="Arial" font-size="30"
                                fill="currentColor">SyntaxTerror</text>
                        </g>
                    </svg>
                </a>
                <div class="nav-item-right">
                    <a href="{{ url_for('login') }}" class="btn btn-small btn-light btn-login">Login</a>
                    <a href="{{ url_for('register') }}" class="btn btn-small btn-light btn-login">Register</a>
                    <!-- <span class="mobile-toggle">
                        <i class="bx bx-menu btn-open"></i>
                        <i class="bx bx-x btn-close"></i>
                    </span> -->
                </div>

                <!-- <div class="nav-item-right">
                    <form action="{{ url_for('login') }}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-small btn-light btn-login">Login</button>
                    </form>
                    <span class="mobile-toogle">
                        <i class="bx bx-menu btn-open"></i>
                        <i class="bx bx-x btn-close"></i>
                    </span>
                </div>
                <div class="nav-item-right">
                    <form action="{{ url_for('register') }}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-small btn-light btn-login">Register</button>
                    </form>
                    <span class="mobile-toogle">
                        <i class="bx bx-menu btn-open"></i>
                        <i class="bx bx-x btn-close"></i>
                    </span>
                </div> -->

            </nav>
        </header>

        <div class="row container">
            <div class="hero-content-wrap">
                <h1 class="title primary-title">IMAGINA UN LUGAR...</h1>
                <p class="hero-description">...donde puedes pertenecer a un club escolar, un grupo de juegos o una
                    comunidad artística mundial. Donde solo tú y un puñado de
                    los amigos pueden pasar tiempo juntos. Un lugar que hace que sea fácil hablar todos los días y pasar
                    el rato más a menudo.</p>
                <div class="hero-btn-group">
                    <a href="/chat" class="btn btn-large btn-dark" id="syntaxtterror-link">
                        Empezar a chatear
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!--hero section end-->

    <!--collaboration section start-->
    <section class="collaboration">
        <div class="row container">
            <img src="./static/images/section-1.svg" alt="#" class="grid-image">
            <div class="text-group">
                <h2 class="text secondary-title">
                    Crea un lugar al que perteneces solo por invitación</h2>
                <p>Los servidores de SyntaxTerror están organizados en canales temáticos donde puedes colaborar,
                    compartir y simplemente hablar sobre tu día.
                    sin obstruir un chat grupal.</p>
            </div>
        </div>
    </section>
    <!--collaboration section end-->

    <!--voice channel section start-->
    <section class="voice-channel">
        <div class="row container">
            <img src="./static/images/section-2.svg" alt="#" class="grid-image order-2">
            <div class="text-group order-1">
                <h2 class="text secondary-title">Donde pasar el rato es fácil</h2>
                <p>Toma asiento en un canal de voz cuando estés libre. Los amigos en tu servidor pueden ver que estás
                    cerca y acceder instantáneamente a
                    hablar sin tener que llamar.</p>
            </div>
        </div>
    </section>
    <!--voice channel section end-->

    <!--moderations tool section start-->
    <section class="moderation-tools">
        <div class="row container">
            <img src="./static/images/section-3.svg" alt="#" class="grid-image">
            <div class="text-group">
                <h2 class="text secondary-title">De unas pocas a un fandom</h2>
                <p>Obtenga una comunidad de cualquier tamaño en funcionamiento con herramientas de moderación y acceso
                    personalizado para miembros. Dar a los miembros poderes especiales, configurar
                    canales privados y más.</p>
            </div>
        </div>
    </section>
    <!--moderations tool section end-->

    <!--video call section start-->
    <section class="video-call">
        <div class="row container">
            <div class="text-group">
                <h2 class="text secondary-title">TECNOLOGÍA CONFIABLE PARA MANTENERSE CERCA</h2>
                <p>La voz y el vídeo de baja latencia se sienten como si estuvieran en la misma habitación. Saluda por
                    video, mira cómo tus amigos transmiten sus juegos,
                    o reunirse y tener una sesión de dibujo con pantalla compartida.</p>
            </div>
            <img src="./static/images/section-4.svg" alt="#" class="grid-image">
        </div>
    </section>
    <!--video call section end-->

    <!---download section start-->
    <!-- <section class="download">
        <div class="row container remove-grid">
            <img src="./assets/images/sparkles.svg" alt="" class="sparkles">
            <h2>¿Listo para comenzar el viaje?</h2>
            <a href="#" class="btn btn-large btn-brand">
                <i class="bx bx-download"></i>Descargar para Windows
            </a>
        </div>
    </section> -->
    <!---download section end-->

    <!-- -footer start-->
    <!-- <footer class="main-footer">
        <div class="row container">
            <div class="info-box">
                <h4 class="footer-title">IMAGINA UN LUGAR</h4>
                <div class="languages">
                    <img src="./assets/nicaragua.png" alt="">
                    <span>Español, Nicaragua</span> <i class="bx bx-chevron-down"></i>
                </div>
                <div class="social-media">
                    <a href="#" class="sm-link">
                        <i class="bx bxl-twitter"></i>
                    </a>
                    <a href="#" class="sm-link">
                        <i class="bx bxl-instagram"></i>
                    </a>
                    <a href="#" class="sm-link">
                        <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="#" class="sm-link">
                        <i class="bx bxl-youtube"></i>
                    </a>
                </div>
            </div>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="#" class="footer-link">Sobre</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Empleo</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Tarjeta de Marca</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Blog</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Terminos y Condiciones</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Privacidad</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Configuración de Cookies</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Directrices</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Licencia</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Moderación</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Contacto de Prensa</a>
                </li>
            </ul>
        </div>
    </footer> -->
    <!---footer end -->
</body>

</html>